<div style="height: 40px"></div>
<div class="sslogo">
	<% logo = image_tag("rnkd_logo.png") %> <!--sslogo.jpg-->
	<%= link_to logo, root_path %>
</div>
<div>
	<div style="width: 50%">
	<table>
	<tr>
		<td>
			<input type="text" value="email address" class="textbox" style="margin: 0 -10px 0 160px; width: 150px"> 
		</td>
		<td>	
			<input type="text" value="password" class="textbox" style="margin: 0 -10px 0 0; width: 150px">
		</td>
		<td>
			<span class="login_button">login</span>
		</td>	
	</tr>
	<tr>
		<td	 style="text-align: right">
			<p>forgot your password?</p>
		</td>
	</tr>	
	</table>
	</div>
</div>

<div style="height: 40px"></div>