<div style="height: 40px"></div>
<div class="sslogo">
	<% logo = image_tag("sslogo.jpg") %>
	<%= link_to logo, root_path %>
</div>
<div>
	<div style="width: 50%">
	<table>
	<tr>
		<td>
			<input type="text" class="textbox" style="margin: 0 -10px 0 160px; width: 150px"> 
		</td>
		<td>	
			<input type="text" class="textbox" style="margin: 0 -10px 0 0; width: 150px">
		</td>
		<td>
			<span class="login_button">login</span>
		</td>	
	</tr>
	</table>
	</div>
</div>

<div style="height: 40px"></div>