<div id="header">
	<% if signed_in? %>
		<div style="height: 21px; padding: 12px 4px 6px 0">
			<a>Logout other other1 other2</a>
			
		</div>
	<% else %>
		<div style="height: 21px; padding: 12px 4px 6px 0">
			<%= link_to "Sign up", signup_path %>
		</div>
	<% end %>	
	<div id="headerline"></div>
</div>

