<div id="header">
	<% if root_path = true %>
		<div style="height: 21px; padding: 12px 4px 6px 0">
			<a><%= link_to "Sign up", signup_path %></a>
		</div>
	<% else %>
		<div style="height: 21px; padding: 12px 4px 6px 0">
			<a>Logout other other1 other2</a>
		</div>
	<% end %>	
	<div id="headerline"></div>
</div>

